@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family setting */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* End Of Font Family */

.translate-animation-x {
  animation-delay: 2s;
  animation: translateX 1s ease-in-out;
}

@keyframes translateX {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}

/* Start: React phone number input style */

.react-tel-input .form-control {
  width: 100% !important;
  height: 40px !important;
  border-color: rgba(128, 128, 128, 0.212) !important;
}

.react-tel-input .form-control:focus {
  border-color: #06b6d4 !important;
  box-shadow: 0px 0px 3px 0px rgba(6, 182, 212, 0.72) !important;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(6, 182, 212, 0.72) !important;
  -moz-box-shadow: 0px 0px 3px 0px rgba(6, 182, 212, 0.72) !important;
}

/* End: React phone number input style */

/* Start: Password strength meter design*/

.wrapper {
  width: 100%;
  text-align: left;
}
.pwd-checker-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in-out;
}
.pwd-checker-bar::-webkit-progress-bar {
  background-color: rgb(151, 151, 151);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.pwd-label {
  font-size: 14px;
}
.pwd-checker-bar::-webkit-progress-value {
  border-radius: 4px;
  background-size: 30px 18px, 100% 100%, 100% 100%;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.label {
  margin-top: 10px;
  margin-bottom: 0px;
}
.strength-weak::-webkit-progress-value {
  background-color: #e20b07;
  transition: all 0.3s ease-in-out;
}
.strength-fair::-webkit-progress-value {
  background-color: #ebbd04;
  transition: all 0.3s ease-in-out;
}
.strength-good::-webkit-progress-value {
  background-color: #0b75ed;
  transition: all 0.3s ease-in-out;
}
.strength-strong::-webkit-progress-value {
  background-color: #01a917;
  transition: all 0.3s ease-in-out;
}
.weak span {
  color: #e20b07;
  transition: all 0.3s ease-in-out;
}
.strength-fair span {
  color: #ebbd04;
  transition: all 0.3s ease-in-out;
}
.strength-good span {
  color: #0b75ed;
  transition: all 0.3s ease-in-out;
}
.strength-strong span {
  color: #01a917;
  transition: all 0.3s ease-in-out;
}

.verification-data {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* End: Password strength meter design*/

/* Start: React slick design */
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply absolute bottom-0 block w-0 bg-orange-500 left-1/2;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */

.slick-slider {
  @apply relative;
}

.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}

.slick-dots .slick-active span {
  @apply w-12 bg-orange-500 rounded-l-full rounded-r-full;
}
/* End: React slick design */
